body{
    background-color: #111111;
}

.card-header{
	background-color: #0DDDE8;
}

.card-body{
	background-color: #eeeeee;
}

.songResultButton{
	background-color: #FFFFFF;
	text-align: center;
	width: 100%;
	border-radius: 3px;
	padding: 3px;
}

.songResultButton:hover{
	background-color: #eeeeee;
}

#moveSearch{
	background-color: #FFFFFF;
	text-align: center;
	width: 100%;
}

.text-center{
	color: #0DDDE8;
}

#roomInfoHeader{
	margin-top: 10px;
	margin-bottom: 20px;
}

.list-group {
	overflow: scroll !important;
	max-height: 350px !important;
}
#player {
	max-width: 640px;
	max-height: 390px;
}

#roomNameHeader, #roomCodeHeader, #currentSong{
	color: #ffffff;
}

#moveCloseRoom{
	width: 100%;
	background-color: #FC890F;
	color: #ffffff;
	cursor: pointer;
}

