body{
    background-color: #111111;
}

.card-header{
    background-color: #5989e5;
    background-image: -webkit-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc));
    background-image: linear-gradient(to right, #5989e5, #37cfdc);
    border: none !important;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.card-body{
	background-color: #FFFFFF;
}

.songResultButton{
	background-color: #FFFFFF;
	text-align: center;
	width: 100%;
	padding: 8px;
    white-space: normal;
}

#moveSearch{
	background-color: #FC890F;
    color: #FFFFFF;
	text-align: center;
	width: 100%;
    cursor: pointer;
}

.text-center{
	color: #0DDDE8;
}

#roomInfoHeader{
	margin-top: 10px;
	margin-bottom: 20px;
}

.list-group {
	overflow: scroll !important;
	max-height: 350px !important;
}
#player {
	max-width: 640px;
	max-height: 390px;
}

#roomNameHeader, #roomCodeHeader, #currentSong{
	color: #ffffff;
}

#moveCloseRoom{
	width: 100%;
	background-color: #FC890F;
	color: #ffffff;
	cursor: pointer;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 2;
}

.Overlay-Message{
	text-align: center;
	color: #ffffff;
}

